{% extends 'base.html' %}
{% block head %}
    <title>Aeviternus | About</title>
    {% load static %}
{% endblock %}

{% block body %}
<div class="container">
  <br>   <br>
<div class="row">
    <div class="col s12 m3">
      <div class="card hoverable">
    <div class="card-image waves-effect waves-block waves-light">
        <i class="material-icons large teal-text">group_work</i>
    </div>
    <div class="card-content">
      <span class="card-title activator grey-text text-darken-4">Hero<i class="material-icons right">more_vert</i></span>
      <p>A warrior summoned to Vastumia, from an unknown land. Though summoned he has no clue what or why he was summon
in the first place. Having no former memories of his past, he is one of the many Calyx that has been brought into this world. He ventures out to find the reason for him being in Vastumia, and to follow the so called prophecy that is passed down in Vastumia.
 </p>
    </div>
    <div class="card-reveal">
      <span class="card-title grey-text text-darken-4">Learn About The Hero<i class="material-icons right">close</i></span>
         <img class="responsive-img" src="{% static 'home/img/hero.png' %}">
      <p>A warrior summoned to Vastumia, from an unknown land. Though summoned he has no clue what or why he was summon
in the first place. Having no former memories of his past, he is one of the many Calyx that has been brought into this world. He ventures out to find the reason for him being in Vastumia, and to follow the so called prophecy that is passed down in Vastumia.
 </p>
    </div>
  </div>
    </div>
  <div class="col s12 m3">
    <div class="card hoverable">
  <div class="card-image waves-effect waves-block waves-light">
      <i class="material-icons large teal-text">camera</i>
  </div>
  <div class="card-content">
    <span class="card-title activator grey-text text-darken-4">Veritas<i class="material-icons right">more_vert</i></span>
    <p>A mysterious person who the hero meets on his first awakening in Vastumia. Not much is known about him, except that he is consider an outcast by all the Calyxs. He gives warning to the hero about not listening to Easlf and instead, follow what he thinks is the right thing to do.
 </p>
  </div>
  <br>   <br>
  <div class="card-reveal">
    <span class="card-title grey-text text-darken-4">Learn About Veritas<i class="material-icons right">close</i></span>
     <img class="responsive-img" src="{% static 'home/img/Veritas.png' %}">
    <p>A mysterious person who the hero meets on his first awakening in Vastumia. Not much is known about him, except that he is consider an outcast by all the Calyxs. He gives warning to the hero about not listening to Easlf and instead, follow what he thinks is the right thing to do.

</p>
  </div>
</div>
  </div>
  <div class="col s12 m3">
    <div class="card hoverable">
  <div class="card-image waves-effect waves-block waves-light">
      <i class="material-icons large teal-text">filter_vintage</i>
  </div>
  <div class="card-content">
    <span class="card-title activator grey-text text-darken-4">Silvia<i class="material-icons right">more_vert</i></span>
    <p>A Sprite with a feisty attitude that joins the hero after he rescues her from the clutches of Baphomet. She is one of the many hidden Sprites out in the world of Vastumia that is there to aid the Calyxs if they deem them worthy enough. She slowly warms up to the hero has they journey out to find the purpose he was brought to Vastumia.
 </p>
  </div>
    <br>
  <div class="card-reveal">
    <span class="card-title grey-text text-darken-4">Learn About Silvia<i class="material-icons right">close</i></span>
       <img class="responsive-img" src="{% static 'home/img/silvia.png' %}">
    <p>A Sprite with a feisty attitude that joins the hero after he rescues her from the clutches of Baphomet. She is one of the many hidden Sprites out in the world of Vastumia that is there to aid the Calyxs if they deem them worthy enough. She slowly warms up to the hero has they journey out to find the purpose he was brought to Vastumia.

 </p>
  </div>
</div>
  </div>
  <div class="col s12 m3">
    <div class="card hoverable">
  <div class="card-image waves-effect waves-block waves-light">
      <i class="material-icons large teal-text">brightness_2</i>
  </div>
  <div class="card-content">
    <span class="card-title activator grey-text text-darken-4">Eslaf<i class="material-icons right">more_vert</i></span>
    <p>A mysterious voice that talks to the hero as he awakens in Vastumia. The voice tells him that he must fullfil the prophecy of Vastumia and fight or else he will be forgotten like so many other Calyxs. </p>
  </div>
    <br>
      <br>
        <br>
          <br>   <br>
  <div class="card-reveal">
    <span class="card-title grey-text text-darken-4">Learn About Elsaf<i class="material-icons right">close</i></span>
     <img class="responsive-img" src="{% static 'home/img/male-silhouette.png' %}">
    <p>A mysterious voice that talks to the hero as he awakens in Vastumia. The voice tells him that he must fullfil the prophecy of Vastumia and fight or else he will be forgotten like so many other Calyxs.
</p>
  </div>
</div>
  </div>
</div>
</div>
{% endblock %}
