{% extends 'base.html' %}
{% block head %}
    <title>Aeviternus | Buy-Form </title>
{% endblock %}
  </head>
  <body>
{% block body %}
    <!-- Section: Contact -->
    <section>
      <br>
      <div class="container">
        <div class="row">
          <div class="col s12">
            <div class="card-panel grey lighten-3">
              <h5>Thank you for your Puchase</h5>
              <form method ="post">
                {% csrf_token %}
                  {{ field.errors }}
                  {{ form.as_p }}
              <button class="waves-effect waves-light btn-large">Submit</button>
            </form>
            </div>
          </div>
        </div>
      </div>
    </section>
{% endblock %}
<!--JavaScript at end of body for optimized loading-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>
<script>
  // Sidenav
  const sideNav = document.querySelector('.sidenav');
  M.Sidenav.init(sideNav, {});
</script>
  </body>
</html>
