{% extends 'base.html' %}
{% block head %}
<title>Aevertinus | Home</title>
{% load static %}
{% endblock %}

{% block body %}
<section class="slider ">
  <ul class="slides">
    <li>
       <img class = "responsive-img" src="{% static 'home/img/hero.png' %}">

      <div class="caption center-align">
        <h2>2d Action RPG</h2>
        <h5 class="light grey-text text-lighten-3 hide-on-small-only">Battle to reclaim your soul throughout four unique worlds each with their own challenges</h5>
      </div>
    </li>
    <li>
     <img class = "responsive-img" src="{% static 'home/img/Veritas.png' %}">
      <!-- random image -->
      <div class="caption left-align">
        <h2>Developer Q/A</h2>
        <h5 class="light grey-text text-lighten-3 hide-on-small-only">Upcoming Developer Q/A on May 7th</h5>
      </div>
    </li>
    <li>
       <img class = "responsive-img" src="{% static 'home/img/silvia.png' %}">
      <!-- random image -->
      <div class="caption right-align">
        <h2>Buy Now to claim your Beta Key</h2>
        <h5 class="light grey-text text-lighten-3 hide-on-small-only">Register Today for the Beta Access</h5>
      </div>
    </li>
  </ul>
</section>

<!-- Section: Icon Boxes -->
<section class="section section-icons grey lighten-4 center">
  <div class="container">
    <div class="row">
      <div class="col s12 m4">
        <div class="card-panel hoverable">
          <i class="material-icons large teal-text">colorize</i>
          <h4>ABS System</h4>
          <p>Our Action Battle System puts you in control</p>
        </div>
      </div>
      <div class="col s12 m4">
        <div class="card-panel hoverable">
          <i class="material-icons large teal-text">language</i>
          <h4>Travel to Many Worlds</h4>
          <p>Travel to any world you like</p>
        </div>
      </div>
      <div class="col s12 m4">
        <div class="card-panel hoverable">
          <i class="material-icons large teal-text">textsms</i>
          <h4>Engaging Story</h4>
          <p>Learn ancient powers to reclaim your soul</p>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Section: Blog Posts -->
<section class="section section-icons grey lighten-4">
  <div class="container">
        <div class="card-panel hoverable">
      <h1 class="center"><i class="material-icons medium teal-text">assignment</i>Developer Blog Posts</h1>
    </div>
    {% for post in posts %}
    <div class="col s12 m4">
      <div class="card-panel hoverable">
        <i class="material-icons  teal-text">textsms</i>
        {{ post.published_date }}
        <h4>{{ post.title }}</h4>
        <p>{{ post.text }}</p>
      </div>
    </div>
  {% endfor %}
    </div>
  </section>
<!--JavaScript at end of body for optimized loading-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>
<script>
// Slider
const slider = document.querySelector('.slider');
M.Slider.init(slider, {
  indicators: false,
  height: 500,
  transition: 500,
  interval: 6000
});

// Material Boxed
const mb = document.querySelectorAll('.materialboxed');
M.Materialbox.init(mb, {});

</script>
{% endblock %}
