{% extends 'base.html' %}
    {% block head %}
    <title>Aeviternus | Login</title>
    {% endblock %}

{% block body %}
<div class="container center-align row col s6">
  <br>  <br>
<div class="col s4 offset-s4">
<form method="post" class="card-panel grey lighten-4">
  <p class="flow-text">Sign In</p>
  {% csrf_token %}
  {{ form.as_p }}
  <button class="waves-effect waves-light btn">Login</button>
</form>
<br>  <br>
<div class ="card-panel grey lighten-4">
<p class ="flow-text">Not a User?</p>
<a href ="{% url 'register' %}" <button class="waves-effect waves-light btn">Register</a></button>
</div>
</div>
</div>
<br>
{% endblock %}
