<!DOCTYPE html>
<html>

<head>
  <!--Import Google Icon Font-->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <!--Import materialize.css-->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">
  <script defer src="https://use.fontawesome.com/releases/v5.0.9/js/all.js" integrity="sha384-8iPTk2s/jMVj81dnzb/iFR2sdA7u06vHJyyLlAd4snFpCl/SnyUjRrbdJsw1pGIl"
    crossorigin="anonymous"></script>
  <!--Let browser know website is optimized for mobile-->
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  {% block head %}
  <title>Aeviternus</title>
  {% endblock %}
</head>

<body id="home">
  <!-- Navbar -->
  <div class="navbar-fixed">
    <nav class="teal">
      <div class="container">
        <div class="nav-wrapper">
          <a href="{% url 'home' %}" class="brand-logo"><i class="material-icons left">donut_small</i>Aeviternus</a>
          <a href="#" data-target="mobile-nav" class="sidenav-trigger">
            <i class="material-icons">menu</i>
          </a>
          <ul class="right hide-on-med-and-down">
            <li>
              <a href="{% url 'home' %}">Home</a>
            </li>
            <li>
              <a href="{% url 'about' %}">About</a>
            </li>
            <li>
            <a href="{% url 'contact' %}">Contact</a>
            </li>
            <li>
            <a href= "{% url 'buy-now' %}"  class="waves-effect waves-light btn-small pulse"><i class="material-icons left">monetization_on</i>Buy Now</a>
            <li>
            <a href="{% url 'login' %}">Login/Register</a>
            </li>

            </li>
          </ul>
        </div>
      </div>
    </nav>
  </div>
  <ul class="sidenav" id="mobile-nav">
    <li>
      <a href="{% url 'home' %}">Home</a>
    </li>
    <li>
      <a href="{% url 'about' %}">About</a>
    </li>
    <li>
      <a href="{% url 'contact' %}">Contact</a>
    </li>
    <li>
      <a href="{% url 'buy-now' %}">Buy Now</a>
    </li>
    <li>
      <a href="{% url 'login' %}">login/Register</a>
    </li>
  </ul>

  {% block body %}
  {% endblock %}

  <!-- Footer -->
  <footer class="section teal darken-2 white-text center">
    <!-- Section: Follow -->
    <section class="section section-follow teal darken-2 white-text center">
      <div class="container">
        <div class="row">
          <div class="col s12">
            <h4>Follow Aeviternus Development</h4>
            <p>Follow us on social media for upcoming Beta Events</p>
            <a href="#" class="white-text">
              <i class="fab fa-facebook fa-2x"></i>
            </a>
            <a href="#" class="white-text">
              <i class="fab fa-twitter fa-2x"></i>
            </a>
          </div>
         <p class="flow-text">Aeviternus &copy; 2018 </p>
        </div>
      </div>
    </section>
  </footer>

  <!--JavaScript at end of body for optimized loading-->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>

  <script>
    // Sidenav
    const sideNav = document.querySelector('.sidenav');
    M.Sidenav.init(sideNav, {});

  </script>
</body>

</html>
